{% extends 'core/base.html' %}

{% block title %}
    Welcome
{% endblock %} 

{% block content %}

    <div class="row">
      <div class="col-md-4">
        <h1 class="text-xl  mx-5">Your Trusted Care Partner</h1>

        <p>At Help Haven, we understand the importance of finding a comfortable and caring environment for your loved ones</p>


      </div>

      <div class="col-md-8">
        <div class="image-container d-flex justify-content-center align-items-center overflow-hidden">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPzv6FdCQ1-dvG_XG3w8zTqJ2CZrwAJyuf7w&s" alt="image" style="object-fit: fill; width:300px; height:300px;">
        </div>
      </div>

    </div>
{% endblock %}