{% extends 'core/base.html' %}
{% load static %}


{% block title %}
    Welcome
{% endblock %} 

{% block content %}

  <div class="row no gutters text-center mt-5 p-2 mb-5 ">
    <div class="col-md-6 content-container">
      <h1 class="text-lg">Your Trusted Care Partner</h1>

      <p class="mt-5 p-3">We are committed to supporting individuals with disabilities in reaching their full potential.<br> 
        Our tailored services help you navigate the NDIS, empowering you to achieve your goals and pursue your dreams.
        <br> At Help Haven, we understand the importance of finding a comfortable and caring environment for your loved ones</p>


    </div>

    <div class="col-md-6 image-container">
      <div class="image-fluid">
        <img src="{% static 'nursing_home1.jpeg' %}" style="width:500px; height: 400px;object-fit: fill;" alt="image here">
      </div>
    </div>

  </div>
  <div class="card-title mb-3 mt-3">
    <h2 class="text-center">Why Choose Us?</h2>
  </div>
  

  <div class="container mt-5">
    <div class="row mt-5 mb-2 text-center">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'nursing_home1.jpeg' %}" alt="image here">
                <div class="card-body">
                    <h5 class="card-title">Personalized Support Plans</h5>
                    <p class="card-text">We create individualized support plans tailored to meet yourunique needs and goals, ensuring you get the most out of your NDIS funding.</p>
                    <a href="#" class="btn btn-primary">Services</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'nursing_home1.jpeg' %}" alt="image here">
                <div class="card-body">
                    <h5 class="card-title">Experienced & Compassionate</h5>
                    <p class="card-text">Our team of professionals brings years of experience and genuine care, dedicated to providing high-quality support services.</p>
                    <a href="#" class="btn btn-primary">Services</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'nursing_home1.jpeg' %}" alt="image here">
                <div class="card-body">
                    <h5 class="card-title">24-Hour Round-the-Clock Assistance</h5>
                    <p class="card-text">With round-the-clock support, we're always here to help younavigate challenges and enhance your daily living</p>
                    <a href="#" class="btn btn-primary">Services</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-2 text-center">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'nursing_home1.jpeg' %}" alt="image here">
                <div class="card-body">
                    <h5 class="card-title">Wide Range of Services</h5>
                    <p class="card-text">From daily personal activities to community participation, we offer a comprehensive suite of services to support your independence and well-being.</p>
                    <a href="#" class="btn btn-primary">Services</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'nursing_home1.jpeg' %}" alt="image here">
                <div class="card-body">
                    <h5 class="card-title">Transparent and Reliable</h5>
                    <p class="card-text">We prioritize transparency and reliability in our services, ensuring you and your loved ones have peace of mind and trust in our care.</p>
                    <a href="#" class="btn btn-primary">Services</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'nursing_home1.jpeg' %}" alt="image here">
                <div class="card-body">
                    <h5 class="card-title">Unmatched Customer Experience</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Services</a>
                </div>
            </div>
        </div>
    </div>
    
</div>


{% endblock %}