{% extends 'core/base.html' %}

{% block title %}
    Sign Up
{% endblock %} 

{% block content %}
     
<body>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 col-sm-6 shadow p-3 rounded">

                <h2 class="text-center mb-4">Sign Up</h2>

                <form action="." method="post" name="signup">
                    {% csrf_token %}

                    {% if  form.errors or form.non_field_errors %}

                        <div class="bg-danger">
                            {% for field in form %}
                                {{field.errors}}
                            {% endfor %}

                            {{ form.non_field_errors }}
                        </div>
                        
                    {% endif %}

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        {{form.username}}
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        {{form.email}}
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        {{form.password1}}
                    </div>

                    <div class="mb-3">
                        <label for="password2" class="form-label"> Confirm Password</label>
                        {{form.password2}}
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>

                </form>

            </div>

        </div>

        </div>

   

    
    
</body>

{% endblock %}